@charset "UTF-8";

/* ========================================
    フッターの設定
   ======================================== */

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
